.signIn-card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 350px;
}

.signIn-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn-card-header h2{
    text-transform: capitalize;
    font-size: 18px;
}

.signIn-card-body form button{
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 24px;
    background-color: #1da0ff;
    color: white;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signIn-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}